# DreamHost
alias fubar='ssh fubar'

# Shortcuts
alias g="git"

# Set editor (e)
if [ -f /usr/local/bin/sublime ]; then
	alias e="sublime"
else
	alias e="nano"
fi

# Locations
alias sites="cd ~/Sites/Projects; ls;"
alias templates="cd ~/Sites/Templates; ls;"
alias dreamhost="cd ~/Sites/DreamHost; ls;"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

function deployfunction() {
	dandelion --config=${1-staging}.yaml deploy
}

alias deploy=deployfunction

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	alias ls='ls --color=auto'
	alias grep='grep --color=auto'
fi
