# General
# ====
alias g=git
alias ..="cd .."

alias addDockSpacer='defaults write com.apple.dock persistent-apps -array-add '\''{"tile-type"="spacer-tile";}'\''; killall Dock'

alias addSmallDockSpacer='defaults write com.apple.dock persistent-apps -array-add '\''{"tile-type"="small-spacer-tile";}'\''; killall Dock'

# Default Development Directory
# ====
export DEVELOPMENT_DIR=$HOME/Projects
alias dev="cd $DEVELOPMENT_DIR"

# Personal
# ====
export PERSONAL_DIR=$DEVELOPMENT_DIR/personal
alias mf="cd $PERSONAL_DIR/mattfelten.com"
alias rhythm="cd $PERSONAL_DIR/rhythm.studio"

# Mission Cloud
# ====
export MISSION_DIR=$DEVELOPMENT_DIR/mission
alias mission="cd $MISSION_DIR"
alias mc="cd $MISSION_DIR/control.missioncloud.com"
